<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-item *ngFor="let item of collections">
      <ion-avatar item-start>
        <img src="{{ item.photo }}">
      </ion-avatar>
      <h2>{{ item.donor_name }}</h2>
      <p>{{ item.collected_at }} - {{ item.collector_name }}</p>
      <h3 clear item-end style = 'color: green'>{{ item.amount }}/-</h3>
    </ion-item>
    <hr>
    <hr>
    <ion-item *ngFor="let item of summary">
      <h2>{{ item[0] }}</h2>
      <h3 clear item-end style = 'color: green'>{{ item[1] }}/-</h3>
    </ion-item>

  </ion-list>


</ion-content>